<div class="w-50 mx-auto">
  <h1>Nuevo Alumno</h1>
  <form #insertForm="ngForm">
    <div class="mt-3">
      <label class="form-label">Id Alumno</label>
      <input type="number" class="form-control" #cajaid name="cajaid" />
    </div>
    <div class="mt-3">
      <label class="form-label">Nombre</label>
      <input type="text" class="form-control" #cajanombre name="cajanombre" />
    </div>
    <div class="mt-3">
      <label class="form-label">Apellidos</label>
      <input
        type="text"
        class="form-control"
        #cajaapellidos
        name="cajaapellidos"
      />
    </div>
    <div class="mt-3">
      <label class="form-label">Imagen</label>
      <input type="text" class="form-control" #cajaimagen name="cajaimagen" />
    </div>
    <div class="mt-3">
      <label class="form-label">Activo</label>
      <select class="form-select" #selectactivo name="selectactivo">
        <option value="0">No</option>
        <option value="1">Si</option>
      </select>
    </div>
    <div class="mt-3">
      <label class="form-label">Id Curso</label>
      <input type="number" class="form-control" #cajacurso name="cajacurso" />
    </div>
    <button class="btn btn-info w-100 mt-3" (click)="insertarAlumno()">
      Insertar Alumno
    </button>
  </form>
</div>
